.about__item {
    padding: 5.7rem 0;

    background-image: linear-gradient(to right, $gray_bg 37%, $gray 37% 63%, $gray_bg 63%);
}

.about__title {
    max-width: 331px;
    margin-bottom: 2.14rem;
}

.about__text {
    max-width: 445px;

    font-weight: 400;
    font-size: 1.14rem;
    line-height: 1.64rem;
    color: $white;

    @media (max-width: $breakpoint_sm) {
        padding: 0 2rem;
        text-align: center;
    }
}

.about__right-box {
    padding-left: 5.6rem;

    @media (max-width: $breakpoint_lg) {
        margin-top: 5.7rem;
    }

    @media (max-width: $breakpoint_sm) {
        margin-top: 3rem;
        padding: 0;

        display: flex;
        justify-content: center;
    }
}

.about__row {

    @media (max-width: $breakpoint_sm) {
        margin: 0;

        display: flex;
        justify-content: center;
    }
}

.about__card {
    padding: 0;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $white;

    border: .05px solid $gold;
}

.about-card__title {
    font-weight: 700;
    font-size: 4.57rem;
    line-height: 5.36rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $gray_bg;
}

.about-card__subtitle {
    padding-bottom: 1.071rem;

    font-weight: 400;
    font-size: 1.28rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: $black;
}

.about-card__text {
    font-weight: normal;
    font-size: .86rem;
    line-height: 1rem;
    text-align: center;
    color: $black;

    @media (max-width: $breakpoint_sm) {
        margin-bottom: 1.7rem;
    }
}

.about__card__d-none {

    @media (max-width: $breakpoint_sm) {
        display: none;
    }
}

.about-card__img {
    height: 100%;
    width: 100%;
}
