.btn {
    display: inline-block;

    background-color: $gold;

    font-weight: 500;
    font-size: 1.14rem;
    line-height: 1.78rem;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $white;

    &:hover {
        color: $gold;
        background-color: $white;

        border: 1px solid $gold;

        transition: .2s;
    }

    @media (max-width: $breakpoint_sm) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
