.btn {
    display: inline-block;

    background-color: $gold;

    font-weight: 500;
    font-size: 1.14rem;
    line-height: 1.78rem;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $white;
}
