.topband {
    height: 45px;
    padding: 1.14rem 0;

    background-color: $gold;

    @media (max-width: $breakpoint_sm) {
        height: 35px;
        padding: .6rem 0;
    }
}

.topband__item {
    display: flex;
    justify-content: space-between;
}

.topband__lang {
    display: flex;
    align-items: center;
}

.topband__lang__item {
    margin-right: .71rem;

    font-weight: 400;
    font-size: .85rem;
    line-height: 1rem;
    color: $white;
    opacity: .5;
}

.topband__lang__item--activ {
    opacity: 1;
}

.topband__link {
    font-weight: 400;
    font-size: .85rem;
    line-height: 1rem;

    color: $white;
}

.header {
    height: 100px;

    @media (max-width: $breakpoint_sm) {
        height: 100%;
        padding: 1rem 0;
    }
}

.header__item {
    display: flex;
    justify-content: space-between;
}

.header__left-box {
    margin-top: 1.92rem;

    display: flex;
    align-items: center;

    @media (max-width: $breakpoint_sm) {
        margin: 0;
        flex-basis: 50%;
    }
}

.logo {
    padding-right: 2.14rem;

    display: flex;
    align-content: center;

    border-right: 1px solid #F2F2F2;

    @media (max-width: $breakpoint_sm) {
        padding: 0;

        border: none;
    }
}

.header__text {
    margin-left: 2.14rem;

    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.14rem;
    letter-spacing: .05em;
    color: $white;

    &::before {
        content: url(../img/top_lock.svg);
        margin-right: .71rem;
    }

    @media (max-width: $breakpoint_sm) {
        display: none;
    }
}

.header__location {

    &:hover {
        color: $gold;
        transition: 0.2s;
    }
}

.header__right-box {
    margin-top: 3rem;

    @media (max-width: $breakpoint_sm) {
        margin: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 50%;
    }
}

.nav {

    @media (max-width: $breakpoint_xl) {
        display: none;
    }
}

.nav__link {
    margin-left: 2.14rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.14rem;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: $white;

    &:hover {
        color: $gold;
        transition: 0.2s;
    }
}

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;

    @media (max-width: $breakpoint_xl) {
        display: block;
    }
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: $gold;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    position: relative;

    &::before, &::after {
        content: "";
        width: 100%;
        height: 100%;

        background-color: $gold;

        position: absolute;
        left: 0;
        z-index: 1
    }

    &::before {
        top: -8px;
    }

    &::after {
        bottom: -8px;
    }
}










