.intro {
    padding-top: 10rem;
    max-height: 620px;

    background: url(../img/intro_img.png) center center no-repeat;

    @media (max-width: $breakpoint_xl) {
        padding-top: 4rem;
    }

    @media (max-width: $breakpoint_sm) {
        min-height: 100%;
        padding-bottom: 2rem;
    }
}

.intro__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__text {
    max-width: 920px;
    padding: 3.21rem 5.14rem;
    margin-bottom: 10rem;

    border: 1px solid $gold;

    @media (max-width: $breakpoint_sm) {
        padding: 1rem;
    }
}

.intro__title {
    margin-bottom: 3.21rem;

    font-weight: 700;
    font-size: 4.55rem;
    line-height: 5.36rem;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media (max-width: $breakpoint_xl) {
        font-size: 3.55rem;
        line-height: 4.36rem;
    }

    @media (max-width: $breakpoint_sm) {
        margin-bottom: 1.5rem;

        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}

.intro__descripton {
    max-width: 777px;

    font-weight: 400;
    font-size: 1.28rem;
    line-height: 2rem;
    text-align: center;
    color: $white;

    @media (max-width: $breakpoint_sm) {
        font-size: 1rem;
        line-height: 2rem;
    }
}

.intro__icon {
    margin: 0 auto;
    margin-bottom: 3.57rem;
}
