<footer class="footer">
    <div class="container">

        <div class="row  footer__item">
            <div class="col-lg-3  footer__logo">
                <img class="footer__img" src="../../assets/img/logo-footer.png" alt="logo">
            </div>

            <div class="col-lg-4 footer__addres">
                <p class="item-footer__addres">123456, Санкт-Петербург, Невский пр-кт 127</p>
                <div class="item-footer__email">
                    <a class="item-footer__link" href="mailto:sales@log.ru">sales@log.ru</a>
                </div>
            </div><!-- ./footer__addres -->

            <div class="col-lg-2  footer__contact">
                <a class="item-footer__tel" href="tel:78123445665">+7 (812) 344-56-65</a>
                <a class="item-footer__tel" href="tel:78123445665">+7 (812) 344-56-65</a>
            </div>

            <div class="col-lg-3  footer__dev">
                <a class="item-footer__dev" href="#">Разработано A-X-E-L</a>
            </div>
        </div><!-- ./footer__item -->

    </div><!-- ./container -->
</footer>
