<div class="topband">
    <div class="container">

        <div class="topband__item">

            <div class="topband__lang">
                <a class="topband__lang__item  topband__lang__item--activ" href="#">РУС</a>
                <a class="topband__lang__item" href="#">ENG</a>
                <a class="topband__lang__item" href="#">FR</a>
            </div>
            <div class="topband__tel">
                <a class="topband__link" href="tel:78001234567">8 (800) 123-45-67</a>
            </div>
            <div class="topband__email">
                <a class="topband__link" href="mailto:sales@log.ru">sales@log.ru</a>
            </div>

        </div><!-- ./topband__item -->

    </div><!-- ./container -->
</div><!-- ./topband -->


<header class="header">
    <div class="container">

        <div class="header__item">

            <div class="header__left-box">
                <div class="logo">
                    <a class="logo__item" href="#">
                        <img class="logo__img img" src="../assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="header__text"><a class="header__location" href="#">Наши офисы</a></div>
            </div>

            <div class="header__right-box">
                <nav class="nav">
                    <a class="nav__link" href="#">услуги</a>
                    <a class="nav__link" href="#">О компании</a>
                    <a class="nav__link" href="#">вакансии</a>
                    <a class="nav__link" href="#">контакты</a>
                </nav>

                <button class="burger" type="button">
                    <span class="burger__item">Menu</span>
                </button>

            </div><!-- ./header__right-box -->

        </div><!-- ./header__item -->

    </div><!-- ./container -->
</header>
